html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
canvas {
    /*border: 1px solid black;*/
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.btn_rand{
    display: block;
    position: absolute;

}
